# Xcode
*.xcuserstate
*.xccheckout
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Build artifacts
build/
DerivedData/
*.ipa
*.app.dSYM.zip
*.dSYM
*.xcframework

# macOS
.DS_Store

# swiftformat
BuildTools/.swiftpm
BuildTools/.build
