# Default Rules
--disable redundantSelf

# Opt-in Rules
--enable acronyms
--enable blankLinesAfterGuardStatements
--enable blankLinesBetweenImports
--enable emptyExtensions
--enable environmentEntry

# Options
--allman false
--elseposition nextline
--empty void
--ifdef no-indent
--indent 4
--nospaceoperators
--semicolons never
--stripunusedargs closure-only
--swiftversion 5
--trimwhitespace always
--xcodeindentation enabled
