# Rules
--disable redundantSelf
# Options
--allman false
--elseposition nextline
--empty void
--ifdef no-indent
--indent 4
--nospaceoperators
--semicolons never
--stripunusedargs closure-only
--swiftversion 5
--trimwhitespace always
--xcodeindentation enabled
